
.cardeditor-container {
background-color: white;
    width: 1450px;
    height: 605px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-rows: 1fr 6fr 1fr; */
    grid-template-areas: 
    "list editor options"

}

.list {
    grid-area: list;
    border: 1px solid green;
}
.editor {
    grid-area: editor;
    border: 1px solid blue;
}
.options {
    grid-area: options;
    border: 1px solid red;
}