

.card-main {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 4fr 2fr;
    grid-template-areas: 
    "title title count"
    "desc desc desc"
    "play edit delete";

    margin: 10px 10px;
    border: 1px solid lightgray;
    box-shadow: 3px 2px 14px -4px rgba(0,0,0,0.75);
    height: 200px;
    width: 300px;
}

.card-title {
    outline: 1px solid lightseagreen; 
    grid-area: title;
}
.card-count {
    outline: 1px solid lightseagreen; 
    grid-area: count;
}
.card-desc {
    outline: 1px solid lightseagreen; 
    grid-area: desc;  
}
.card-btn-play {
    margin: 5px 10px ;
    outline: 1px solid lightseagreen; 
    grid-area: play;
}
.card-btn-edit {
    margin: 5px 10px ;
    outline: 1px solid lightseagreen; 
    grid-area: edit;
}
.card-btn-delete {
    margin: 5px 10px ;
    outline: 1px solid lightseagreen; 
    grid-area: delete;
}