#Header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    height: 75px;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.822)
}

.nav-items {
    font-size: 24px;
    padding: 0 10px;
    text-decoration: none;
}
a:link {
    color: lightseagreen;
}
a:visited {
    color: lightseagreen;
}


.main-body {
    background-color: lightblue;

}