



.card-count {
    padding: 2px 5px;
    text-align: right;
    /* outline: 1px solid lightseagreen;  */
    grid-area: count;
}
.card-title {
    font-weight: bold;
    font-size: large;
    height: 80px;
    /* margin-bottom: 10px; */
    /* padding: 2px 5px; */
    /* text-align: left; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* outline: 1px solid lightseagreen;  */
    grid-area: title;
}
.card-desc {
    /* padding: 2px 5px; */
    /* outline: 1px solid lightseagreen;  */
    margin-top: 10px;
    grid-area: desc;  
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}




.card-btn:hover {
background-color: lightblue;
}


.play {
    /* outline: 1px solid lightseagreen;  */
    grid-area: play;
    
}
.edit {
    /* outline: 1px solid lightseagreen;  */
    grid-area: edit;
}
.delete {
    /* outline: 1px solid lightseagreen;  */
    grid-area: delete;
}