

.card-main {
    background-color: white;
    padding: 5px 5px;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 4fr 2fr;
    grid-template-areas: 
    "count count count"
    "title title title"
    "desc desc desc"
    "play edit delete";

    margin: 10px 10px;
    border: 1px solid lightgray;
    box-shadow: 3px 2px 14px -4px rgba(0,0,0,0.75);
    height: 200px;
    width: 300px;
}

.card-count {
    padding: 2px 5px;
    text-align: right;
    /* outline: 1px solid lightseagreen;  */
    grid-area: count;
}
.card-title {
    font-weight: bold;
    font-size: large;
    padding: 2px 5px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    /* outline: 1px solid lightseagreen;  */
    grid-area: title;
}
.card-desc {
    padding: 2px 5px;
    /* outline: 1px solid lightseagreen;  */
    grid-area: desc;  
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}


.card-btn {
    margin: 5px 10px ;
}

.card-btn:hover {
background-color: lightblue;
}


.play {
    /* outline: 1px solid lightseagreen;  */
    grid-area: play;
}
.edit {
    /* outline: 1px solid lightseagreen;  */
    grid-area: edit;
}
.delete {
    /* outline: 1px solid lightseagreen;  */
    grid-area: delete;
}