
.playarea-container {
    display: grid;
    /* background-color: lawngreen; */
    /* border: 1px solid red; */
    /* width: 1470px; */
    height: 816px;
    /* text-align: center; */
        
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 6fr 1fr; */
    grid-template-areas: 
    "leftcard playcard rightcard";
    
}
    
.leftcard {
    grid-area: leftcard;
    /* border: 1px solid green; */
}
.playcard {
    display: grid;
    justify-items: center;
    grid-area: playcard;
    /* border: 1px dashed blue; */
}
.rightcard {
    grid-area: rightcard;
    /* border: 1px solid red; */

}
.rtn-btn {
  border: 2px solid lightblue;
  margin: 50px 0px;
  height: 50px;
  width: 200px;
  border-radius: 35px;
    box-shadow: 25px 31px 71px 0px rgba(0,0,0,0.8);
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.rtn-btn:focus {
  outline:0;
}
.rtn-btn:active {
  border: 2px solid lightblue;
  background-color: rgb(241, 241, 241);
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
  box-shadow: 15px 21px 36px 0px rgba(0,0,0,1);
}


.scene {
    display: grid;
    width: 300px;
    height: 460px;
    /* border: 1px solid lightcoral; */
    margin: 40px 0;
    perspective: 600px;
    animation: slideIn 2s forwards;
}

.card {
  font-family: "WickedMouseDemo", Times, serif;
  font-size: 26px;
  color: #b74a00;
    /* border: 2px dashed violet; */
    width: 300px;
    height: 460px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    
  }
  
  .card.is-flipped {
    /* border: 2px dashed blue; */
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 300px;
    height: 460px;
    /* line-height: 260px; */
    /* color: white; */
    text-align: center;
    font-weight: bold;
    /* font-size: 40px; */
    backface-visibility: hidden;
    border-radius: 25px;

    box-shadow: 25px 31px 71px 0px rgba(0,0,0,0.8);

    /* animation: slideIn 2s forwards; */

  }
  
  .card__face--front {
    background-color: white;
    line-height: 360px;

  }
  
  .card__face--back {
    text-align: center;
    /* color: white; */
    background: white;
    transform: rotateY(180deg);
  }
  .quest-box {
    text-align: left;
    background-color: lightcyan;
    height: 80px;
    width: 280px;
    border: 1px solid white;
    margin: 40px auto;
    padding: 10px 10px;
    font-size: 16px;
  }


  .box {
    padding: 10px 10px;
    text-align: left;
    display: block;
    height: 60px;
    width: 280px;
    /* border: 1px solid white; */
    border-top: 1px solid lightgray;
    margin: 10px auto;
    font-size: 16px;
  }
  .box:hover {
        background-color: lightcyan;
  }

  .green {
    background-color: lightgreen;
  }
  .green:hover {
    background-color: lightgreen;
  }

  .red {
    background-color: lightcoral;
  }
  .red:hover {
    background-color: lightcoral;
  }

  /* The Modal (background) */
.modal {
    display: block; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-none { 
    display: none;
}
.modal-out {
  animation-name: animatetopback;
  animation-duration: 0.2s;
}

.flash {
  /* width: 50px; */
  /* height: 50px; */
  animation: flasher 1s infinite;
}


@-webkit-keyframes flasher {
0%, 49% {
    background-color: rgb(173, 255, 47);
    /* border: 3px solid #e50000; */
}
50%, 100% {
    background-color: rgb(143, 225, 17);
    /* border: 3px solid rgb(117,209,63); */
}
}


/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    top: 250px;
    left: -22%;
    padding: 0;
    border: 1px solid #888;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.2s
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.close-none {
    display: none;
}

/* Modal Header */
.modal-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2px 16px;
    /* background-color: #5cb85c; */
    color: white;
    height: 30px;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    height: 50px;
}

/* Modal Footer */
.modal-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2px 16px;
    /* background-color: #5cb85c; */
    color: white;
    height: 30px;
}
/* Add Animation */
@keyframes animatetop {
    from {top: 0px; opacity: 0}
    to {top: 250px; opacity: 1}
}
@keyframes animatetopback {
  from {top: 250px; opacity: 1}
  to {top: 0px; opacity: 0}
}


/* Slide in Animation */
@-webkit-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-moz-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .led {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    /* background-color: red; */
  }