


.deckarea-main {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* height: 415px; */
    /* width: 1400px; */
    /* border: 5px dashed purple; */
}


.new-deck-txt {
    margin: 10px auto;
    /* border: 1px solid blue; */
    height: 30px;
    width: 250px;
}
.new-deck-img { 
    margin: 30px auto;
    /* border: 1px solid red; */
    height: 80px;
    width: 80px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

.new-deck-img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }





@keyframes myAnimation{
0%{
    opacity: 1;
}
100%{
    display: none;
    opacity: 0;
}
}
 #myelement{
animation-name: myAnimation;
animation-duration: 2000ms;
animation-fill-mode: forwards;
}